SECRET_KEY=your-secret-key
DEBUG=True

DB_NAME=skystore
DB_USER=skystore_user
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@skystore.local
