# IDE
.idea/
.vscode/

# Virtual environments
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django / databases
*.sqlite
*.sqlite3
db.sqlite3

# Environment variables
.env

# OS
.DS_Store
